
// Body
$body-bg: #FFFFFF;
$material-icons-font-path: '../webfonts/';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900');
// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$footer-min-height: 262px;
$header-min-height:80px;
// Colors
$primary: #159dad;
$secondary: #1B4E01;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #FB6BBE;
$red: #F83936;
$orange: #FF9A00;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #2FC5FF;
