/*
@import '~element-ui/packages/theme-chalk/src/loading';
@import '~element-ui/packages/theme-chalk/src/carousel';
@import '~element-ui/packages/theme-chalk/src/carousel-item';
@import '~element-ui/packages/theme-chalk/src/icon';
@import '~element-ui/packages/theme-chalk/src/tooltip';
@import '~element-ui/packages/theme-chalk/src/upload';
@import '~element-ui/packages/theme-chalk/src/rate';
@import '~element-ui/packages/theme-chalk/src/slider';
@import '~element-ui/packages/theme-chalk/src/button';
@import '~element-ui/packages/theme-chalk/src/input-number';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~element-ui/packages/theme-chalk/src/option';
@import '~element-ui/packages/theme-chalk/src/progress';
@import '~element-ui/packages/theme-chalk/src/base';
*/
@import "./element.css";