#accordion {
  .card-header {
    padding: 0.4rem 1.25rem;
    .btn-link {
      color: #000;
    }
  }  
}
.card{
  .card-header{
    border-bottom: none;
    background-color: #f5a660;
  }
}
